.idea/*
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
data/*
download/*
*.mp4
*.pickle
pickle/*
bash-scripts/*
log/*
env_id.txt
test.py
misc/
figures/*
_temp/*
clips/*
img/*
src/models/*
yamnet_segments/*
testdownload/*
clip_annotations/*
test/*
histtest.py
bash/*
subjective_analysis/*
valid_random_clips/*

