.idea/*
__pycache__/*
data/*
download/*
*.mp4
*.pickle
pickle/*
bash-scripts/*
log/*
env_id.txt
test.py
misc/
figures/*
_temp/*
clips/*
img/*
models/*
yamnet_segments/*
testdownload/*
clip_annotations/*
test/*
histtest.py
bash/*
